body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('../img/Comunes/ChinguiritoMarroquiBody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-align: center;
}

.customnavbar {
    background-color: #333 !important;
    display: flex;
    justify-content: space-between;
}

.title {
    color: azure;
}

.naviitem-title {
    color: azure;
    background-color: rgb(160, 142, 119);
    border-radius: 80px;
    transition: background-color 0.3s;
    width: 140px;
    padding: 10px 20px;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
    /* Ajusta el margen superior para evitar el header */
    display: flex;
    flex-direction: column;
    /* Organiza los elementos verticalmente */
    gap: 20px;
    
}
.containerInfoIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.itemInfoRestaurant {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: lightgray;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}