// Mixin para estilos de fondo
@mixin background-styles($bg-color) {
    background-color: $bg-color;
}

// Mixin para bordes redondeados
@mixin borderRadius-styles($br-radius) {
    border-radius: $br-radius;
}

// Mixin para gradientes
@mixin gradient-bg($start-color, $end-color) {
    background: $start-color;
    background: linear-gradient(90deg, $start-color 0%, $end-color 100%);
}

// Mixin para enlaces
@mixin link-styles($color, $hover-color) {
    color: $color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $hover-color;
    }
}

// Mixin para centrar elementos
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genericBody {
    display: grid;
    margin: 0;
    background: black;
    min-height: 100vh; // Asegura que el body ocupe toda la altura de la pantalla
    grid-template-rows: 1fr auto auto; // Define tres filas: contenido, espacio flexible y footer
}

header {
    grid-row: 1; // Coloca el header en la primera fila del grid
}

.body-specific {
    @extend .genericBody;
    background-image: url('../img/comunes/chinguirito-marroqui.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bodyMenu
{
    @extend .body-specific;
    background-image: url('../img/comunes/madera-textura.jpg');
    background-attachment: fixed;
}

.combo-regular {
    font-family: "Combo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
}

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.navbar-brand {
    img {
        margin-left: 40px;
        width: 120px;
        height: 70px;
        align-items: center;
    }
}

.nav-link {
    color: azure;
    background-color: rgb(160, 142, 119);
    transition: background-color 0.3s;
    @include borderRadius-styles(80px);
    width: 120px;

    &:hover {
        @include background-styles(brown);
    }

    &.menu-item-selected {
        @include background-styles(brown);
    }
}


.navbar-collapse {
    .nav-link {
        width: auto;
        @include borderRadius-styles(0px);
        text-align: center;
    }
}


.carousel-caption {
    position: absolute;
    top: 0; // Posiciona el contenido en la parte superior
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

main {
    margin: 0;
    grid-row: 2; // Coloca el contenido principal en la segunda fila del grid
}

.containerInfo {
    margin-top: 50px;
    margin-bottom: 100px; // Corrige el espacio extra
    margin: 50px 5px 100px 5px;
}

.containerGridInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: aliceblue;

    gap: 10px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); // Cambia a dos columnas en pantallas más pequeñas
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr; // Cambia a una columna en pantallas muy pequeñas
    }
}

.itemInfoRestaurant {
    background: linear-gradient(90deg, rgba(145, 136, 153, 1) 0%, rgba(128, 116, 23, 0.55) 17%, rgba(189, 170, 94, 0.96) 40%, rgba(161, 129, 42, 1) 86%, rgba(153, 117, 8, 1) 100%);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    object-fit: cover;

    img {
        width: 150px;
        /* La imagen ocupa el ancho completo del contenedor */
        height: 150px;
        /* Mantiene la proporción de la imagen */
    }

    p {
        text-align: justify;
    }

    @media (max-width: 768px) {
        img {
            width: 80%;
            /* Ajusta el ancho de la imagen para pantallas más pequeñas */
        }
    }

    @media (max-width: 480px) {
        img {
            width: 60%;
            /* Ajusta el ancho de la imagen para pantallas muy pequeñas */
        }
    }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente
    border-radius: 50%; // Forma redonda
    width: 60px; // Ajusta el tamaño
    height: 60px; // Ajusta el tamaño

    &:hover {
        background-color: rgba(0, 0, 0, 0.8); // Fondo más oscuro al pasar el mouse
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 7%; // Ajusta el ancho del área de clic
}

.div-form-reservation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    @include background-styles(rgba(255, 255, 255, 0.5));

    @media (max-width: 768px) {
        flex-direction: column; // Cambia a disposición en columna en pantallas más pequeñas
    }
}

.div-info-contacto,
.div-info-cliente {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    color: #000000;

    a {
        color: blue;
    }

    @media (max-width: 768px) {
        width: 100%; // Cambia el ancho a 100% en pantallas más pequeñas
    }
}

.form-reservation-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  margin: 40px auto;
  background-size: cover;
  border-radius: 10px;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }

  @media (max-width: 480px) {
    padding: 10px;
  }
}

.div-form-menu {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  h1 {
    font-size: 3.2rem;
    color: #fff5e1;
    border-bottom: 3px solid #eac784;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr; // Cambia a una columna en pantallas pequeñas
  }
}


.menu-item {
  background: rgba(240, 230, 210, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  max-width: 480px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
  
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.visible {
    animation: fadeInUp 0.6s ease-out forwards;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
 

  &:hover {
    transform: scale(1.02);
  }

  h2 {
    font-size: 2.2rem;
    color: #8b5e3c;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4a4a4a;
  }

  @media (max-width: 768px) {
    img {
      height: 200px;
    }
  }

  @media (max-width: 480px) {
    img {
      height: 180px;
    }

    p {
      font-size: 0.95rem;
    }
  }
}




.div-form-blog {
    @include background-styles(#ffffff);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    h4 {
        margin: 0;
        color: #333;
    }

    .toggle-checkbox {
        display: none;
    }

    .texto {
        color: #666;
        line-height: 1.6;
        max-height: 60px;
        /* Altura inicial del párrafo */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* Número de líneas visibles */
        -webkit-box-orient: vertical;
        transition: max-height 0.5s ease;
    }

    .toggle-checkbox:checked~.texto {
        max-height: 500px;
        /* Altura expandida */
        -webkit-line-clamp: unset;
        /* Permite que el texto se ajuste */
    }

    .leer-mas {
        display: block;
        margin: 10px auto;
        /* Centra el botón horizontalmente */
        padding: 10px 20px;
        @include background-styles(#4CAF50);
        color: white;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        /* Asegura que el texto esté centrado */
        cursor: pointer;
    }

    .toggle-checkbox:checked~.leer-mas::after {
        content: 'Leer menos';
    }

    .leer-mas::after {
        content: 'Leer más';
    }

    @media (max-width: 600px) {
        .texto {
            max-height: 40px;
            /* Altura inicial del párrafo para pantallas pequeñas */
            -webkit-line-clamp: 2;
            /* Número de líneas visibles para pantallas pequeñas */
        }

        .toggle-checkbox:checked~.texto {
            max-height: 300px;
            /* Altura expandida para pantallas pequeñas */
        }
    }

    @media (min-width: 601px) and (max-width: 1024px) {
        .texto {
            max-height: 50px;
            /* Altura inicial del párrafo para pantallas medianas */
            -webkit-line-clamp: 3;
            /* Número de líneas visibles para pantallas medianas */
        }

        .toggle-checkbox:checked~.texto {
            max-height: 400px;
            /* Altura expandida para pantallas medianas */
        }
    }

    @media (min-width: 1025px) {
        .texto {
            max-height: 60px;
            /* Altura inicial del párrafo para pantallas grandes */
            -webkit-line-clamp: 3;
            /* Número de líneas visibles para pantallas grandes */
        }

        .toggle-checkbox:checked~.texto {
            max-height: 500px;
            /* Altura expandida para pantallas grandes */
            overflow-y: auto;
            /* Habilita el scroll vertical */
            padding: 10px;
            /* Espaciado interno */

        }
    }
}

.boton {
    padding: 10px 20px;
    @include background-styles(#4CAF50);
    color: white;
    border: none;
    cursor: pointer;
    transition: width 0.5s ease, background-color 1s ease;

    &:hover {
        @include background-styles(#36803a);
    }
}

.div-form-location {
    display: grid;
    grid-template-columns: 1fr 1fr; // Dos columnas iguales
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: 100px; // Corrige el espacio extra
    gap: 10px;

    .div-form-location-item {
        width: auto;
        justify-content: center;
        align-items: center;

        label {
            font-weight: bold;
            color: #007bff;
        }

        b {
            margin-bottom: 10px;
        }
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; // Relación de aspecto 16:9
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;

    .whatsapp-icon {
        font-size: 40px; // Ajusta el tamaño del ícono
        color: #25D366; // Color del ícono de WhatsApp
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer {
    margin-top: 50px;
    @include gradient-bg(rgba(145, 136, 153, 1), rgba(176, 173, 165, 1));
    color: #ffffff;
    padding: 20px 0;
    grid-row: 3; // Coloca el footer en la segunda fila del grid

    a {
        @include link-styles(#ffffff, #007bff);
    }

    .nav-links {
        @include center-flex;
        margin-bottom: 20px;

        a {
            margin: 0 15px;
        }
    }

    .copyright {
        text-align: center;
        margin-top: 10px;
    }

    @media (max-width: 768px) {
        padding: 15px 0; // Ajusta el padding en pantallas más pequeñas

        .nav-links {
            flex-direction: column; // Cambia la disposición a columna en pantallas más pequeñas

            a {
                margin: 10px 0; // Ajusta el margen en pantallas más pequeñas
            }
        }
    }

    @media (max-width: 480px) {
        padding: 10px 0; // Ajusta el padding en pantallas muy pequeñas

        .nav-links {
            a {
                margin: 5px 0; // Ajusta el margen en pantallas muy pequeñas
            }
        }
    }
}

.img-fluid {
    width: 60px;
    height: 60px;

    @media (max-width: 768px) {
        width: 50px; // Ajusta el tamaño en pantallas más pequeñas
        height: 50px; // Ajusta el tamaño en pantallas más pequeñas
    }

    @media (max-width: 480px) {
        width: 40px; // Ajusta el tamaño en pantallas muy pequeñas
        height: 40px; // Ajusta el tamaño en pantallas muy pequeñas
    }
}